html {
    text-wrap: pretty;
    
    font-family: 
        "Roboto",Helvetica, Arial, sans-serif;
    
    *:where(:not(:first-child)) { margin-block-start: 1em; }

th{font-weight: bold;
    color: black;
    
}
a {text-underline-position: auto;}
h3{font-weight: bold;}




}
